:root {
  --bg-card: #1b1c1b;
  --bg-edit-card: #469e16;
  --bg-delete-card: #dc2626;
  --primary: #6d28d9;
  --primary-800: #4c1d95;
  --light: #d9d9d9;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
  --bg-linear-hover: rgba(20, 20, 22, 0.4);
}

.card-container-admin {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  width: 14rem;
  background-color: var(--bg-card);
  border-radius: 1rem;
  transition: box-shadow 0.2s ease-in-out;
}

.card-container-admin:hover {
  box-shadow: 0 0 3rem 0.5rem var(--bg-linear-hover);
}

.image-container-admin {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 8rem;
  background-color: var(--primary-800);
  border-radius: 0.5rem;
}

.image-container-admin .image-admin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  fill: var(--light);
  background-color: var(--bg-card);
}

.title-admin {
  overflow: clip;
  width: 100%;
  font-size: 1rem;
  font-weight: 800;
  color: var(--light);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.weight-admin {
  color: var(--light);
}

.action-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.action-admin button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--light);
  text-wrap: nowrap;
  border-radius: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.edit-button-admin {
  background-color: var(--bg-edit-card);
}

.delete-button {
  background-color: var(--bg-delete-card);
}

.action-admin button:hover {
  transform: scale(1.15);
}

.price-admin {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--light);
}