.container-footer {
    margin-top: auto;
    width: 100%;
    height: 16rem;
    background-color: #1a2a3a;
    color: #f5e6d3;
    padding: 2rem;
    font-size: small;
}

.sub-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.social-media img,
.contact-us img {
    width: 1.9rem;
    height: 1.6rem;
    padding: 0 0.5rem;
}

.social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #f5e6d3;
}

.category-link,
.service-link,
.phone-number,
.email,
.location-link {
    text-decoration: none;
    color: #f5e6d3;
}

.category-link:hover,
.service-link:hover,
.phone-number:hover,
.email:hover:hover,
.location-link:hover {
    color: #f4be76;
}

.category-list,
.service-list {
    list-style: none;
    line-height: 2rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.contact-us {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-phone,
.contact-email,
.contact-location {
    display: flex;
    align-items: center;
}

.line {
    height: 0.1rem;
    margin-top: 1rem;
}

.platForms:hover {
    color: #f4be76;
}

.subTitles {
    text-align: left;
    font-size: 1.2rem;
}