.title {
    color: #F5E6D3;
    background-color: #1A2A3A;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.body {
    margin: 10%;
    gap: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row-reverse;

}