h1 {
  color: #f5e6d3;
  background-color: #1a2a3a;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  text-align: left;
  margin: 10px;
}

.Products {
  gap: 10px;
  color: #1a2a3a;
  display: flex;
  color: #1a2a3a;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}