* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f4f4f4;
    color: #333;
}

.add-product {
    background-color: f0f0f0;
    width: 220px;
    height: 330px;
    font-size: 80px;
    display: block;
    border-radius: 3px;
    border: 3px dashed gray;
    color: gray;
    cursor: pointer;
}