* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Card {
    border: 3px dashed #1A2A3A;
    text-align: center;
    width: 180px;
    height: 250px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}