/* أزرار إضافية */
.btn-undo {
    background: var(--light-danger-color);
    color: var(--bg-color);
}

.btn-undo:hover {
    background: #d97706;
    transform: scale(1.02);
}

.btn-cancel {
    background: var(--danger-color);
    color: white;
}

.btn-cancel:hover {
    background: #dc2626;
    transform: scale(1.02);
}